@media all and (min-width: 992px) and (max-width:1199px){
    *{
        box-sizing: border-box;
    }
    .header_menu {
        width: 100%;
        height: 30px;
        background-color: rgb(100, 104, 113);
        display: flex;
        justify-content: space-between;
    }

    .topmenu {
        width: 75%;
        height: 25px;
        list-style-type: none;
        display: flex;
        justify-content:flex-start;
        margin-right:7px;
        margin-bottom: 0px;
        padding-left: 0px;
    }
    
    .topmenu>div{
        width:2px;
        height:12px;
        background-color: rgb(170, 170, 170);
        margin:7px 7px 7px 7px ;
    }

    .topmenu>li {
        height: 25px;
    }

    .topmenu>li>a {
        line-height: 25px;
        text-align: center;
        text-decoration: none;
        font-family:'iryekanr';
        font-size: 11px;
        font-weight: 400;
        color: rgb(170, 170, 170);
        transition: all 200ms ease 0s;
    }

    .topmenu>li>a:hover {
        color: rgb(255, 255, 255);
    }
    .language_menu{
        width: 25%;
        height: 25px;
    }
    .language_menu>ul{
        justify-content:flex-end;
        padding-top: 2px;
    }
    .language_menu>ul>li>a{
        color:white;
    }
    .language_menu>ul>li>a>i{
        color:white;
        font-size: 13px;
        line-height: 25px;
        margin-left: 5px;
        transition: all 200ms ease;
    }
        .language_menu>ul>li>a>i:hover{
        color: rgb(170, 170, 170);
    }

    .navigation {
        width: 100%;
        height: 74px;
        display: flex;
        background-color: white;
        transition: all 300ms ease 0s;
    }

    .slogan{
        width:20%;
    }

    .navigation>ul {
        width: 70%;
        height: 74px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding:0px;
        margin-bottom: 0px;
    }

    .navigation>ul>li {
        height: 74px;
        margin-right: 20px;
    }

    .navigation>ul>li>a {
        height: 74px;
        line-height: 74px;
        text-align: center;
        padding-left: 0 10px;
        text-decoration: none;
        font-family:'iryekanr';
        color: rgb(78,78,78);
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        transition: all 200ms ease;
    }

    .navigation>ul>li>a:hover {
        color: rgb(153,205,97);
    }

    .navigation>i{
        font-size: 26px;
        color:rgb(179,179,179);
        line-height: 75px;
    }
}
/*
    .icon1,
    .icon2,
    .icon3 {
        display: none;
    }

    .products {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 50%;
        height: 200px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 0 0 8px 8px;
        box-shadow: 3px 0 3px rgb(170, 170, 170), -3px 0 3px rgb(170, 170, 170), 0 3px 3px rgb(170, 170, 170);
        opacity: 0%;
        transition: all 300ms ease 0s;
    }

    .products>div {
        width: 25%;
        text-align: center;
        line-height: 200px;
        font-family: sans-serif;
        font-size: 18px;
        color: black;
    }

    .products>div:not(:last-of-type) {
        border-right: 1px solid rgb(200, 200, 200);
    }

    .show-submenu {
        opacity: 100%;
    }

    .new-navigation {
        background-color: pink;
        position: fixed;
        top: 0;
    }*/
/*section2*/
    .slider{
        position: relative;
    }
    .slider-container {
    width: 100%;
    border: 2px solid white;
    background-color: white;
    position: relative;
    }

    img {
    display: block;
    width: 100%;
    }

    .icon1,
    .icon2 {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 35px;
    text-align: center;
    line-height: 40px;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    background-color: rgba(130, 130, 130, 0.5);
    color: rgb(40, 40, 40);
    transition: all 300ms ease 0s;
    }

    .icon1:hover,
    .icon2:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(0, 0, 0);
    }

    .icon1 {
    left: 3%;
    }

    .icon2 {
    right: 3%;
    }
    .image_time{
    position: absolute;
    width: 400px;
    height: 15px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    left:32%;
    
    }
    .image_time>.rect {
    width: 60px;
    height: 12px;
    background-color: rgb(0,0,0,0.5);
    margin: 5px;
    cursor: pointer;
    }

/*section3*/
    .groups{
        width: 100%;
    }
    .groupstop{
        width: 100%;
        display: flex;
    }
    .groupsbottom{
        width: 100%;
        display: flex;
    }
    .pic{
        width: 25%;
        border: 1.5px solid white;
    }