@media all and (max-width: 575px){
    .topmenu{
        width: 78%;
        justify-content: right;
        padding:1% 5%;
    }
    .topmenu>div{
        width:1px;
        height:70%;
        background-color: rgb(170, 170, 170);
        margin:0px 4px;
    }
    .topmenu>li>a {
        font-size: calc(0.5vw + 6px);
        display: flex;
        align-items: center;
    }
    .language_menu{
        width: 22%;
        justify-content: flex-end;
    }
    .navigation{
        position: relative;
        display: flex;
    }
    .slogan{
        position: absolute;
        right:20%;
        width: 40%;
    }
/*
    .icon1,
    .icon2,
    .icon3 {
        display: none;
    }

    .products {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 50%;
        height: 200px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 0 0 8px 8px;
        box-shadow: 3px 0 3px rgb(170, 170, 170), -3px 0 3px rgb(170, 170, 170), 0 3px 3px rgb(170, 170, 170);
        opacity: 0%;
        transition: all 300ms ease 0s;
    }

    .products>div {
        width: 25%;
        text-align: center;
        line-height: 200px;
        font-family: sans-serif;
        //font-size: 18px;
        color: black;
    }

    .products>div:not(:last-of-type) {
        border-right: 1px solid rgb(200, 200, 200);
    }

    .show-submenu {
        opacity: 100%;
    }

    .new-navigation {
        background-color: pink;
        position: fixed;
        top: 0;
    }*/
/*section2*/
/*section-4 & section-6*/
    .groupstop{
        width: 100%;
    }
    .groupsbottom{
        width: 100%;
    }
    .pic{
        width: 100%;
    }
/*section-5*/

/*section-6*/
    .groupsright,
    .groupsleft,
    .pic2{
        width: 100%;
    }
/*section 7*/
    .contactdivider{
        width: 100%;
    }
    .contactdivider>p:first-of-type,
    .contactdivider>p:nth-of-type(2){
        text-align: center;
    }
    .contactdivider>div{
        margin:8px auto;
        margin-top: 0;
    }
    .contactdivider>p:first-of-type{
        font-size: calc(1vw + 5px);
    }
    .contactdivider>p:nth-of-type(2){
        font-size: calc(1vw + 3px);
    }
    .aparat{
        width: 4vw;
        height: 4vw;
    }
/*section 8*/
    .footer{
    justify-content: center;
    background-color: rgb(237,237,237);
    }
    .content{
        width: 100%;
    }
    .subfooter {
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: all 300ms ease 0s;
        margin: 0;
    }
    .subfooter>li{
        transition: all 300ms ease 0s;
        line-height: 20px;
        box-shadow: 0 0 1px 1px lightgrey;
    }
    .content>.subfooter>li>a{
        color:#999;
        font-size: calc(0.5vw + 3px);
        font-family: 'iryekanr';
        font-weight: 400;
        font-style: normal;
        transition: all 200ms ease;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        padding: 0 20px 0px 0px;
    }
    .content>.subfooter>li:hover a{
        color: rgb(255, 255, 255);
    }
    .content>.subfooter>li:hover{
        background-color:#b1afaf ;
    }
    .headfooter {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        transition: all 400ms ease 0s;
        margin: 0;
        text-align: right;
        color:#666666;
        font-size: calc(0.5vw + 5px);
        font-family: 'iryekanr';
        font-weight: 500;
        font-style: normal;
        margin-bottom: 2px;
    }

    .headfooter:hover{
        background-color: rgb(100,104,113);
        color: white;
    }

    .open {
        height: auto;
    }
/*section 9*/
    .footer2{
        padding: 1% 7%;
    }
    .footerlist{
        margin-bottom: 16px;
    }
    .footerlist>ul{
        width: fit-content;
        justify-content: center;
        padding: 0;
        margin:0 auto;
    }
    .copyright{
        color:#cbcaca;
        font-size: calc(0.5vw + 5px);
        font-family: 'iryekanr';
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }

}


