@media all and (max-width: 575px){
    .modal-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    opacity: 0;
    transition: all 600ms ease 0s;
    z-index: 3;
}

.icon-close {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(100, 100, 100);
    transition: all 300ms ease 0s;
}
    .header_menu {
        height: 22px;
    }
    .topmenu{
        width: 78%;
        justify-content: right;
        padding:1% 5%;
    }
    .topmenu>div{
        width:1px;
        height:70%;
        background-color: rgb(170, 170, 170);
        margin:0px 4px;
    }
    .topmenu>li>a {
        font-size: calc(0.5vw + 6px);
        display: flex;
        align-items: center;
    }
    .language_menu{
        width: 22%;
        justify-content: flex-end;
    }

 .navigation {
    position: relative;
        width: 100%;
        height: 50px;
        display: flex;
        transition: all 300ms ease 0s;
    }
    .slogan{
        width: 40%;
        position: absolute;
        transform: translate(-50%,-50%);
        left:50%;
        top: 50%;
    }
    .menu {
    position: absolute;
    top: -22px;
    right: 100%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    background-color: white;
    padding-left: 0;
    z-index: 3;
  }
    .menu>li {
        width: 100%;
        height: 50px;
        border-bottom: 0.5px solid rgb(157, 157, 157) ;
    }

    .menu>li:nth-of-type(1) {
        position: relative;
    }

    .menu>li:nth-of-type(1)>.icon-nav1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 15px;
        color: rgb(182, 182, 182);
        cursor: pointer;
        transition: all 300ms ease 0s;
    }
     .menu>li:nth-of-type(3) {
        position: relative;
    }

    .menu>li:nth-of-type(3)>.icon-nav1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 15px;
        color: rgb(182, 182, 182);
        cursor: pointer;
        transition: all 300ms ease 0s;
    }

    .menu>li>a {
        display: block;
        height: 50px;
        line-height: 50px;
        text-align: right;
        padding: 0 10px;
        text-decoration: none;
        font-family:'iryekanr';
        color: rgb(61, 61, 61);
        transition: all 200ms ease 0s;
    }

    .menu>li>a:hover {
        background-color: rgb(211, 211, 211);
    }

    .menu-list {
        display: block;
        position: absolute;
        right: 5%;
        transform: translateY(-50%);
        top: 50%;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        font-size: 30px;
        color: rgb(61, 61, 61);
        cursor: pointer;
        transition: all 200ms ease 0s;
        border: solid 1px rgb(61, 61, 61);
        border-radius: 6px;
    }

    .menu-list:hover {
        color: rgb(153,205,97);
        border: solid 1px rgb(153,205,97);
    }

    .bi-search{
        position: absolute;
        width: 15%;
        left: 10px;
        transform: translateY(-50%);
        top: 50%;
    }
    .icon-modal {
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border:1px solid white;
    text-align: center;
    line-height: 18px;
    position: absolute;
    right: 100%;
    top: 0px;
    font-size: 15px;
    cursor: pointer;
    color: rgb(100, 100, 100);
    transition: all 300ms ease 0s;
}

   .products {
        position: absolute;
        top: 0;
        left: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        transition: all 300ms ease 0s;
        z-index: 4;
    }
    .products>.productstext{
        width: 100%;
    }
    .products>.productstext>div {
        position: relative;
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
         font-family:'iryekanr';
         text-decoration: none;
        color: rgb(61, 61, 61);
        cursor: pointer;
        transition: all 300ms ease 0s;
        border-bottom: 0.5px solid rgb(157, 157, 157) ;
    }

    .products>.productstext>div:hover {
         background-color: rgb(211, 211, 211);
    }


    .products>.productstext>.return>.icon3 {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 15px;
        color: rgb(182, 182, 182);
        cursor: pointer;
        transition: all 300ms ease 0s;
    }

    .show-submenu {
        right: 0;
        display: block;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
        height: 100vh;
    }
    .picmenu{
        display: none;
    }

    .products>.productstext>div>.icon-nav1 {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 15px;
        color: rgb(182, 182, 182);
        cursor: pointer;
        transition: all 300ms ease 0s;
    }



    .support {
        position: absolute;
        top: 0;
        left: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        transition: all 300ms ease 0s;
        z-index: 4;
    }
    .support>.supportstext{
        width: 100%;
    }
    .support>.supportstext>div {
        position: relative;
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
         font-family:'iryekanr';
         text-decoration: none;
        color: rgb(61, 61, 61);
        cursor: pointer;
        transition: all 300ms ease 0s;
        border-bottom: 0.5px solid rgb(157, 157, 157) ;

    }

    .support>.supportstext>div:hover {
         background-color: rgb(211, 211, 211);
    }


    .support>.supportstext>.return-support>.icon3 {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 15px;
        color: rgb(182, 182, 182);
        cursor: pointer;
        transition: all 300ms ease 0s;
    }
    .item-support>.sublist-support>ul>li>a{
        font-family:'iryekanr';
         text-decoration: none;
        color: rgb(61, 61, 61);
    }
    .sublist{
        display:none;
    }
    .new-navigation {
        background-color: pink;
        position: absolute;
        top: 0;
    }
    .hidden{
        display: none;
    }
    .opacity-100 {
    opacity: 100%;
}


/*section2*/
/*section-4 & section-6*/
    .groupstop{
        width: 100%;
    }
    .groupsbottom{
        width: 100%;
    }
    .pic{
        width: 100%;
    }
/*section-5*/

/*section-6*/
    .groupsright,
    .groupsleft,
    .pic2{
        width: 100%;
    }
/*section 7*/
    .contactdivider{
        width: 100%;
    }
    .contactdivider>p:first-of-type,
    .contactdivider>p:nth-of-type(2){
        text-align: center;
    }
    .contactdivider>div{
        margin:8px auto;
        margin-top: 0;
    }
    .contactdivider>p:first-of-type{
        font-size: calc(1vw + 5px);
    }
    .contactdivider>p:nth-of-type(2){
        font-size: calc(1vw + 3px);
    }
    .aparat{
        width: 4vw;
        height: 4vw;
    }
/*section 8*/
    .footer{
    justify-content: center;
    background-color: rgb(237,237,237);
    }
    .content{
        width: 100%;
    }
    .subfooter {
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: all 300ms ease 0s;
        margin: 0;
    }
    .subfooter>li{
        transition: all 300ms ease 0s;
        line-height: 20px;
        box-shadow: 0 0 1px 1px lightgrey;
    }
    .content>.subfooter>li>a{
        color:#999;
        font-size: calc(0.5vw + 3px);
        font-family: 'iryekanr';
        font-weight: 400;
        font-style: normal;
        transition: all 200ms ease;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        padding: 0 20px 0px 0px;
    }
    .content>.subfooter>li:hover a{
        color: rgb(255, 255, 255);
    }
    .content>.subfooter>li:hover{
        background-color:#b1afaf ;
    }
    .headfooter {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        transition: all 400ms ease 0s;
        margin: 0;
        text-align: right;
        color:#666666;
        font-size: calc(0.5vw + 5px);
        font-family: 'iryekanr';
        font-weight: 500;
        font-style: normal;
        margin-bottom: 2px;
    }

    .headfooter:hover{
        background-color: rgb(100,104,113);
        color: white;
    }

    .open {
        height: auto;
    }
/*section 9*/
    .footer2{
        padding: 1% 7%;
    }
    .footerlist{
        margin-bottom: 16px;
    }
    .footerlist>ul{
        width: fit-content;
        justify-content: center;
        padding: 0;
        margin:0 auto;
    }
    .copyright{
        color:#cbcaca;
        font-size: calc(0.5vw + 5px);
        font-family: 'iryekanr';
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }

}


