@media all and (min-width: 576px) and (max-width: 767px){
        .header_menu {
        padding: 0.5% 5%;
    }
    .topmenu{
        width: 90%; 
    }
    .language_menu{
        width: 10%;
        justify-content: flex-end;
    }
    .navigation {
        width: 100%;
        height: 80px;
        transition: all 300ms ease 0s;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 5%;
        padding-left: 5%;
    }
    .slogan{
        width: 15%;
        position: absolute;
        right:5%;

    }
    .menu {
    width : 80%;
    padding: 0;
    margin-bottom: 0px;
    list-style-type: none;
    display: flex;
    justify-content:flex-end;
    transition: all 300ms ease 0s;
    position: absolute;
    transform: translate(-50%,0);
    left:50%;
    }
    .bi-search{
        position: absolute;
        width: 15%;
        left: 10px;
        display: none;
    }

    .menu>li {
        margin-right: 2%;
    }
    .menu>li:nth-child(1) {
        margin-right: 0px;
    }

    .menu>li>a {
        display: block;
        text-align: center;
        padding-left: 1%;
        text-decoration: none;
        font-family:'iryekanr';
        font-size: calc(0.5vw + 7px);
        text-wrap: nowrap;
        color: rgb(78,78,78);
        font-weight: 400;
        font-style: normal;
        transition: all 300ms ease;
    }

    .menu>li>a:hover {
        color: rgb(153,205,97);
    }
    .navigation>i{
        width: 15%;
        font-size: calc(2vw + 2px);
        color:rgb(179,179,179);
        text-align: center;
    }

    .menu-list,
    .icon-nav1,
    .icon-nav2,
    .return {
        display: none;
    }
    .icon-modal {
    display: none;
        }

    .products {
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(255, 255, 255);
        border-radius: 0 0 8px 8px;
        box-shadow: 3px 0 3px rgb(170, 170, 170), -3px 0 3px rgb(170, 170, 170), 0 3px 3px rgb(170, 170, 170);
        transition: all 300ms ease 0s;
        z-index: 2;
        padding-top: 10px;
    }
    .products>.productstext>.item>p {
        text-align: right;
        font-family:'iryekanr';
        font-size: calc(0.5vw + 3px);
        font-weight: 500;
        color: black;
    }
        .products>.productstext>.item>p:hover {

        color:rgb(153,205,97);
    }

    .productstext{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .sublist>ul>li{
        padding-bottom: 5px;
        text-align: right;
    }
        .sublist>ul>li>a{
        text-align: right;
        font-family:'iryekanr';
        font-size: calc(0.5vw + 2px);
        color: black;
        text-wrap: nowrap;
    }
    .picmenu{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .picmenu>a{
        width:10%;
        margin-left: 10px;
    }
    .picmenu>a:nth-last-child(1){
        margin-left: 0px;
    }
    .picmenu>a>img{
        width: 100%;
    }

    .support {
        position: absolute;
        transition: all 300ms ease 0s;
        width: 20%;
        left: 50%;
        transform: translate(-50%);
        background-color: white;
        border-radius: 0 0 8px 8px;
        box-shadow: 3px 0 3px rgb(170, 170, 170), -3px 0 3px rgb(170, 170, 170), 0 3px 3px rgb(170, 170, 170);
        transition: all 300ms ease 0s;
        z-index: 2;
        padding-top: 10px;
    }
    .support>.supportstext{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .support>.supportstext>.return-support {
        display: none;
    }
    .item-support>.sublist-support>ul{
        padding: 0;
    }
    .item-support>.sublist-support>ul>li{
        height: 25px;
        padding: 3px;
    }

    .item-support>.sublist-support>ul>li>a{
        line-height:8px;
        text-align: right;
        display: flex;
        align-items: center;
        font-family:'iryekanr';
        font-size: calc(0.5vw + 3px);
        font-weight: 500;
        color: black;
        cursor: pointer;
        transition: all 300ms ease 0s;
        padding-right: 5px;
    }
        .item-support>.sublist-support>ul>li>a:hover{
    color:rgb(153,205,97);
    }
      .show-submenu {
    display: block;
  }
      .hidden {
    display: none;
  }
/*section2*/
    
/*section-4 & section-6*/
    .groupstop{
        display: flex;
    }
    .groupsbottom{
        display: flex;
    }
    .pic{
        width: 25%;
    }
/*section-5*/

/*section-6*/
    .groupsright,
    .groupsleft{
        width: 100%;
    }
    .pic2{
        width: 100%;
    }
/*section 7*/
    .contactdivider{
        width: 100%;
    }
    .contactdivider>p:first-of-type,
    .contactdivider>p:nth-of-type(2){
        text-align: center;
    }
    .contactdivider>div{
        margin:8px auto;
        margin-top: 0;
    }
    .contactdivider>p:first-of-type{
        font-size: calc(1vw + 4px);
    }
    .contactdivider>p:nth-of-type(2){
        font-size: calc(1vw + 2px);
    }
/*section 8*/
    .footer{
    display: flex;
    justify-content: center;
    background-color: rgb(237,237,237);
    padding:20px 7%;
    }
    .content{
        width: 16.6666%;
    }
    .content>ul>li{
        height: 18px;
    }
    .content>ul>li>a{
        text-align: right;
        color:#999;
        font-size: calc(0.5vw + 3px);
        font-family: 'iryekanr';
        font-weight: 400;
        font-style: normal;
        transition: all 200ms ease;
        text-wrap: nowrap;
    }
    .content>ul>li>a:hover{
        color: rgb(153,205,97);
    }
    .content>p{
        text-align: right;
        color:#666666;
        font-size: calc(0.5vw + 5px);
        font-family: 'iryekanr';
        font-weight: 500;
        font-style: normal;
        text-align: right;
        margin-bottom: 2px;
    }
/*section 9*/
    .footer2{
        padding: 1% 7%;
    }
    .footerlist{
        margin-bottom: 16px;
    }
    .footerlist>ul{
        width: fit-content;
        justify-content: center;
        padding: 0;
        margin:0 auto;
    }
    .copyright{
        color:#cbcaca;
        font-size: calc(0.5vw + 5px);
        font-family: 'iryekanr';
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }

}


