@font-face {
    font-family: 'iryekanr';
    src: url('../fonts/iryekanr.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/iryekanr.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iryekanr.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/iryekanr.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/iryekanr.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/iryekanr.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,
li{
    list-style-type: none;
}
li>a {
    text-decoration: none;
    cursor: pointer;
}
.topmenu>li>a{
    font-size: calc(0.5vw + 7px);
}
i{
    cursor: pointer;
}